__pycache__/
*.py[cod]
*.pyo
*.pyd

# Virtuelle miljø
.venv/
venv/
env/

# Distribusjon / pakking
build/
dist/
*.egg-info/
*.egg

# Verktøybuffer
.pytest_cache/
.mypy_cache/
.ruff_cache/
.coverage
htmlcov/

# IDE / redigering
.idea/
.vscode/

# macOS
.DS_Store
mower_sdk/.DS_Store

# Python-versjonsstyring
.python-version
